<div th:fragment="divFormConta">
    <div id="divFormConta">
        <div class="container">
            <div class="row">
                <div class="col-12 text-center">
                    <h5 class="text-center text-white font-tertiary">aeeeee!</h5>
                    <h2 class="section-title text-white mb-5">Pronto, agora você está cadastrado! seja bem-vindo ao Arcane Bank</h2>
                    <button class="btn btn-light font-tertiary" href="/logar">Logar &nbsp;<i class="ti-arrow-right"></i></button>
                </div>
            </div>
        </div>

        <!-- bg shapes -->
        <img src="/kross-master/images/backgrounds/education-bg.png" alt="map" class="img-fluid bg-map">
        <img src="/kross-master/images/experience/buraco-negro.png" alt="bg-shape" class="img-fluid bg-shape-1">
        <img src="/kross-master/images/illustrations/rocket.png" alt="bg-shape" class="img-fluid bg-shape-2">
        <img src="/kross-master/images/illustrations/moon.png" alt="bg-shape" class="img-fluid bg-shape-3">
        <img src="/kross-master/images/illustrations/blue-star.png" alt="bg-shape" class="img-fluid bg-shape-4">
        <img src="/kross-master/images/illustrations/pink-star.png" alt="bg-shape" class="img-fluid bg-shape-5">
    </div>
</div>
