<!DOCTYPE html>
<html lang="zxx">

<head>
    <meta charset="utf-8">
    <title>Arcane Bank</title>

    <!-- mobile responsive meta -->
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

    <!-- ** Plugins Needed for the Project ** -->
    <!-- Bootstrap -->
    <link rel="stylesheet" href="/kross-master/plugins/bootstrap/bootstrap.min.css">
    <!-- slick slider -->
    <link rel="stylesheet" href="/kross-master/plugins/slick/slick.css">
    <!-- themefy-icon -->
    <link rel="stylesheet" href="/kross-master/plugins/themify-icons/themify-icons.css">

    <!-- Main Stylesheet -->
    <link href="/kross-master/css/style.css" rel="stylesheet">

    <!--Favicon-->
    <link rel="icon" href="favicon-96x96.png" type="image/x-icon"/>

</head>

<body>

<header class="navigation fixed-top">
    <nav class="navbar navbar-expand-lg navbar-dark ">
        <a class="navbar-brand font-tertiary h3" href="/"><img src="/kross-master/images/logo.png"
                                                               alt="Arcane bank"></a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navigation"
                aria-controls="navigation" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse text-center" id="navigation">
            <ul class="navbar-nav ml-auto">
                <li class="nav-item active">
                    <a class="nav-link" href="/">Inicio</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Sobre nos</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/logar">Log in</a>
                </li>
            </ul>
        </div>
    </nav>
</header>

<!-- hero area -->
<section class="hero-area bg-primary" id="parallax">
    <div class="container">
        <div class="row">
            <div class="col-lg-11 mx-auto">
                <h1 class="text-white titulo-hide font-tertiary">Seja bem-vindo <br> ao melhor <br>banco da galáxia</h1>
            </div>
        </div>
    </div>
    <div class="layer-bg mobile-hide w-100">
        <img class="img-fluid w-100" src="/kross-master/images/illustrations/flat-universe.jpg" alt="bg-shape">
    </div>

    <div class="layer mobile-hide" id="l2">
        <h1 class="text-white font-tertiary">Seja bem-vindo <br> ao melhor <br>banco da galáxia</h1>
    </div>
    <div class="layer mobile-hide" id="l3">
        <img src="/kross-master/images/illustrations/red-star.png" alt="bg-shape">
    </div>
    <div class="layer mobile-hide" id="l4">
        <img src="/kross-master/images/illustrations/blue-star.png" alt="bg-shape">
    </div>
    <div class="layer mobile-hide" id="l5">
        <img src="/kross-master/images/illustrations/green-star.png" alt="bg-shape">
    </div>
    <div class="layer mobile-hide" id="l6">
        <img src="/kross-master/images/illustrations/moon.png" alt="bg-shape">
    </div>
    <div class="layer mobile-hide" id="l8">
        <img src="/kross-master/images/illustrations/blue-star.png" alt="bg-shape">
    </div>
    <div class="layer mobile-hide" id="l9">
        <img src="/kross-master/images/illustrations/pink-star.png" alt="bg-shape">
    </div>
    <!-- social icon -->
    <ul class="list-unstyled ml-5 mt-3 position-relative zindex-1">
        <li class="mb-3"><a class="text-white" href="#"><i class="ti-facebook"></i></a></li>
        <li class="mb-3"><a class="text-white" href="#"><i class="ti-instagram"></i></a></li>
        <li class="mb-3"><a class="text-white" href="#"><i class="ti-twitter"></i></a></li>
    </ul>
    <!-- /social icon -->
</section>
<!-- /hero area -->

<!-- about -->
<section class="section">
    <div class="container">
        <div class="row">
            <div class="col-lg-6 text-center">
                <img src="/kross-master/images/illustrations/cartao-arcanebank-3.png" style="width: 80%; height: 100%;"
                     alt="cartao">
            </div>
            <div class="col-lg-6 mx-auto text-center">
                <h3 class="text-center text-primary font-weight-bold font-tertiary">Um cartão único.</h3><br/>
                <p class=" text-center paragraph-lg text-dark">Lorem ipsum dolor sit amet, consectetur adipisicing elit,
                    sed
                    do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud
                    exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in
                    reprehenderit
                    in voluptate velit esse cillum dolore eu fugiat nulla pariatur.</p>
                <button class="text-center btn btn-primary font-tertiary" onclick="pedirCartao();">Pedir cartao</button>
            </div>
        </div>
    </div>
</section>
<!-- /about -->

<!-- skills -->
<section class="section">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2 class="section-title">Vantagens</h2>
            </div>
            <div class="col-lg-3 col-sm-6 mb-4 mb-lg-0">
                <div class="card shadow text-center">
                    <div class="position-relative rounded-top progress-wrapper" data-color="#1F0840">
                        <div class="wave" data-progress="100%"></div>
                    </div>
                    <div class="card-footer bg-white">
                        <h4 class="card-title">Atendimento 100% online</h4>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-sm-6 mb-4 mb-lg-0">
                <div class="card shadow text-center">
                    <div class="position-relative rounded-top progress-wrapper" data-color="#360A73">
                        <div class="wave" data-progress="75%"></div>
                    </div>
                    <div class="card-footer bg-white">
                        <h4 class="card-title">75% de todos os seus gastos de volta para você em pontos</h4>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-sm-6 mb-4 mb-lg-0">
                <div class="card shadow text-center">
                    <div class="position-relative rounded-top progress-wrapper" data-color="#7135F2">
                        <div class="wave" data-progress="2%"></div>
                    </div>
                    <div class="card-footer bg-white">
                        <h4 class="card-title">Sem taxas</h4>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-sm-6 mb-4 mb-lg-0">
                <div class="card shadow text-center">
                    <div class="position-relative rounded-top progress-wrapper" data-color="#666DF2">
                        <div class="wave" data-progress="2%"></div>
                    </div>
                    <div class="card-footer bg-white">
                        <h4 class="card-title">Sem anuidade</h4>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- /skills -->

<!-- experience -->
<section class="section">
    <div class="container">
        <div class="row justify-content-around">
            <div class="col-lg-12 text-center">
                <h2 class="section-title">Em nosso banco</h2>
            </div>
            <div class="col-lg-3 col-md-4 text-center">
                <img src="/kross-master/images/experience/sol-flat.png" class="sol" alt="icon">
                <p class="mb-0">A estrela</p>
                <h4>Você no controle, você coordena desde como até onde o seu dinheiro trabalha</h4>
                <h6 class="text-light">VOCÊ É NOSSA ESTRELA</h6>
            </div>
            <div class="col-lg-3 col-md-4 text-center">
                <img src="/kross-master/images/experience/moon-flat.png" class="lua" alt="icon">
                <p class="mb-0">A lua</p>
                <h4>Atendimento organizado e planejado para sua satisfação total</h4>
                <h6 class="text-light">QUASE COMO UMA LUA</h6>
            </div>
            <div class="col-lg-3 col-md-4 text-center">
                <img src="/kross-master/images/experience/buraco-negro.png" class="buraco-negro" alt="icon">
                <p class="mb-0">Sem buracos negros</p>
                <h4>Sem instituições sugando o seu dinheiro</h4>
                <h6 class="text-light">É TODO SEU</h6>
            </div>
        </div>
    </div>
</section>
<!-- ./experience -->

<!-- education -->
<section class="section position-relative">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2 class="section-title">Prêmiado</h2>
            </div>
            <div class="col-lg-6 col-md-6 mb-80">
                <div class="d-flex">
                    <div class="mr-lg-5 mr-3">
                        <i class="ti-medall icon icon-light icon-bg bg-white shadow rounded-circle d-block"></i>
                    </div>
                    <div>
                        <p class="text-dark mb-1">2019</p>
                        <h4>Melhor Banco Brasileiro</h4>
                        <p class="mb-0 text-light">Revista Forbes</p>
                    </div>
                </div>
            </div>
            <div class="col-lg-6 col-md-6 mb-80">
                <div class="d-flex">
                    <div class="mr-lg-5 mr-3">
                        <i class="ti-medall icon icon-light icon-bg bg-white shadow rounded-circle d-block"></i>
                    </div>
                    <div>
                        <p class="text-dark mb-1">2019</p>
                        <h4>Empresas mais inovadoras da América Latina</h4>
                        <p class="mb-0 text-light">Fast Company</p>
                    </div>
                </div>
            </div>
            <div class="col-lg-6 col-md-6 mb-80">
                <div class="d-flex">
                    <div class="mr-lg-5 mr-3">
                        <i class="ti-medall icon icon-light icon-bg bg-white shadow rounded-circle d-block"></i>
                    </div>
                    <div>
                        <p class="text-dark mb-1">2019</p>
                        <h4>Prêmio de melhor atendimento ao cliente</h4>
                        <p class="mb-0 text-light">Exame/IBRC</p>
                    </div>
                </div>
            </div>
            <div class="col-lg-6 col-md-6 mb-80">
                <div class="d-flex">
                    <div class="mr-lg-5 mr-3">
                        <i class="ti-medall icon icon-light icon-bg bg-white shadow rounded-circle d-block"></i>
                    </div>
                    <div>
                        <p class="text-dark mb-1">2018</p>
                        <h4>Melhor PMO das Américas</h4>
                        <p class="mb-0 text-light">PMI (Project Management Institute)</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- bg image -->
    <img class="img-fluid edu-bg-image w-100" src="/kross-master/images/backgrounds/education-bg.png" alt="bg-image">
</section>
<!-- /education -->

<!-- services -->
<section class="section">
    <div class="container">
        <div class="row">
            <div class="col-12 text-center">
                <h2 class="section-title">Serviços</h2>
            </div>
            <div class="col-md-4 mb-4 mb-md-0">
                <div class="card hover-shadow shadow">
                    <div class="card-body text-center px-4 py-5">
                        <i class="ti-credit-card icon mb-5 d-inline-block"></i>
                        <h4 class="mb-4">Cartão de crédito & débito</h4>
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut
                            labore et
                            dolore magna aliqua.</p>
                    </div>
                </div>
            </div>
            <div class="col-md-4 mb-4 mb-md-0">
                <div class="card active-bg-primary hover-shadow shadow">
                    <div class="card-body text-center px-4 py-5">
                        <i class="ti-user icon mb-5 d-inline-block"></i>
                        <h4 class="mb-4">Atendimento personalizado</h4>
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut
                            labore et
                            dolore magna aliqua.</p>
                    </div>
                </div>
            </div>
            <div class="col-md-4 mb-4 mb-md-0">
                <div class="card hover-shadow shadow">
                    <div class="card-body text-center px-4 py-5">
                        <i class="ti-money icon mb-5 d-inline-block"></i>
                        <h4 class="mb-4">Pagamentos pelo app</h4>
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut
                            labore et
                            dolore magna aliqua.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- /services -->

<!-- portfolio
<section class="section">
  <div class="container">
    <div class="row">
      <div class="col-12 text-center">
        <h2 class="section-title">Portfolio</h2>
      </div>
    </div>
    <div class="row shuffle-wrapper">
      <div class="col-lg-4 col-6 mb-4 shuffle-item">
        <div class="position-relative rounded hover-wrapper">
          <img src="/kross-master/images/portfolio/item-1.png" alt="portfolio-image" class="img-fluid rounded w-100">
          <div class="hover-overlay">
            <div class="hover-content">
              <a class="btn btn-light btn-sm" href="/kross-master/project-single.html">view project</a>
            </div>
          </div>
        </div>
      </div>
      <div class="col-lg-4 col-6 mb-4 shuffle-item">
        <div class="position-relative rounded hover-wrapper">
          <img src="/kross-master/images/portfolio/item-2.png" alt="portfolio-image" class="img-fluid rounded w-100">
          <div class="hover-overlay">
            <div class="hover-content">
              <a class="btn btn-light btn-sm" href="/kross-master/project-single.html">view project</a>
            </div>
          </div>
        </div>
      </div>
      <div class="col-lg-4 col-6 mb-4 shuffle-item">
        <div class="position-relative rounded hover-wrapper">
          <img src="/kross-master/images/portfolio/item-3.png" alt="portfolio-image" class="img-fluid rounded w-100">
          <div class="hover-overlay">
            <div class="hover-content">
              <a class="btn btn-light btn-sm" href="/kross-master/project-single.html">view project</a>
            </div>
          </div>
        </div>
      </div>
      <div class="col-lg-4 col-6 mb-4 shuffle-item">
        <div class="position-relative rounded hover-wrapper">
          <img src="/kross-master/images/portfolio/item-4.png" alt="portfolio-image" class="img-fluid rounded w-100">
          <div class="hover-overlay">
            <div class="hover-content">
              <a class="btn btn-light btn-sm" href="/kross-master/project-single.html">view project</a>
            </div>
          </div>
        </div>
      </div>
      <div class="col-lg-4 col-6 mb-4 shuffle-item">
        <div class="position-relative rounded hover-wrapper">
          <img src="/kross-master/images/portfolio/item-5.png" alt="portfolio-image" class="img-fluid rounded w-100">
          <div class="hover-overlay">
            <div class="hover-content">
              <a class="btn btn-light btn-sm" href="/kross-master/project-single.html">view project</a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
 /portfolio -->

<!-- testimonial -->
<section class="section bg-primary position-relative testimonial-bg-shapes">
    <div id="divFormConta">
        <div class="container">
            <div class="row">
                <div class="col-12 text-center">
                    <h5 class="text-center text-white font-tertiary">Gostou?</h5>
                    <h2 class="section-title text-white mb-5">Crie sua conta é gratis!</h2>
                </div>
                <div class="col-lg-6 mx-auto">
                    <form action="/cliente/registrar" data-target="divFormConta" method="post" class="form-ajax form-group">
                        <div class="mb-2">
                            <input name="email" class="form-control email" id="email" type="email" placeholder="E-mail" required>
                        </div>
                        <div class="row mb-2">
                            <div class="col-lg-6 mb-2">
                                <input name="nome" class="form-control" type="text" placeholder="Nome" required>
                            </div>
                            <div class="col-lg-6 ">
                                <input name="sobrenome" class="form-control" type="text" placeholder="Sobrenome"
                                       required>
                            </div>
                        </div>
                        <div class="row mb-2">
                            <div class="col-lg-6">
                                <input name="cpf" class="form-control cpf" type="text" placeholder="CPF" required>
                            </div>
                            <div class="col-lg-6 mt-2 text-center">
                                <button class="btn btn-light font-tertiary" type="submit">Criar conta &nbsp; <i
                                        class="ti-arrow-right"></i></button>
                            </div>
                        </div>
                        <div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
        <!-- bg shapes -->
        <img src="/kross-master/images/backgrounds/education-bg.png" alt="map" class="img-fluid bg-map">
        <img src="/kross-master/images/illustrations/rocket.png" alt="bg-shape" class="img-fluid bg-shape-2">
        <div class="mobile-hide">
            <img src="/kross-master/images/experience/buraco-negro.png" alt="bg-shape" class="img-fluid bg-shape-1">
            <img src="/kross-master/images/illustrations/moon.png" alt="bg-shape" class="img-fluid bg-shape-3">
            <img src="/kross-master/images/illustrations/blue-star.png" alt="bg-shape" class="img-fluid bg-shape-4">
            <img src="/kross-master/images/illustrations/pink-star.png" alt="bg-shape" class="img-fluid bg-shape-5">
        </div>

    </div>
</section>
<!-- /testimonial -->


<!-- footer -->
<footer class="bg-dark footer-section">
    <div class="border-top text-center border-dark py-5">
        <p>Developed with &hearts; by Thalles</p>
        <p>Contact (61) 9 8299-8807</p>
        <p>Template by: <a href="themefisher.com">themefisher.com</a></p>
    </div>
</footer>
<!-- /footer -->

<!-- jQuery -->
<script src="/assets/js/jQuery-3.3.1.js"></script>
<!-- Bootstrap JS -->
<script src="/kross-master/plugins/bootstrap/bootstrap.min.js"></script>
<!-- slick slider -->
<script src="/kross-master/plugins/slick/slick.min.js"></script>
<!-- filter -->
<script src="/kross-master/plugins/shuffle/shuffle.min.js"></script>

<!-- Main Script -->
<script src="/kross-master/js/script.js"></script>
<script src="/assets/js/geral.js"></script>
<script src="/assets/js/jsGeral.js"></script>
<script src="/assets/js/jquery.mask.js"></script>
<script src="/assets/js/mask.js"></script>
<script>
    aplicarMask();
</script>


</body>
</html>