<!DOCTYPE html>
<html lang="zxx">

<head>
    <meta charset="utf-8">
    <title>Arcane Bank</title>

    <!-- mobile responsive meta -->
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

    <!-- ** Plugins Needed for the Project ** -->
    <!-- Bootstrap -->
    <link rel="stylesheet" href="/kross-master/plugins/bootstrap/bootstrap.min.css">
    <!-- slick slider -->
    <link rel="stylesheet" href="/kross-master/plugins/slick/slick.css">
    <!-- themefy-icon -->
    <link rel="stylesheet" href="/kross-master/plugins/themify-icons/themify-icons.css">

    <!-- Main Stylesheet -->
    <link href="/kross-master/css/style.css" rel="stylesheet">

    <!--Favicon-->
    <link rel="icon" href="favicon-96x96.png" type="image/x-icon"/>

</head>
<div class="bg-primary">
    <div class="centralizar text-center">
        <div class="">
            <i class="ti-time text-primary" style="font-size: 150px;"></i>
            <h3 class=" font-tertiary mt-5 mb-5">Seu tempo acabou, tente logar novamente clicando no botão logo abaixo!</h3>
            <a class="btn btn-primary font-tertiary" href="/logar">Logar novamente</a>
        </div>
    </div>
</div>
</html>